<h2>The (Old) Table View</h2>
<p>This is a page that displays a table with useless data.</p>
<p>This view is running in AngularJS.</p>
<h3>af-table <small>Angular</small></h3>
<p>This is a downgraded Angular component.</p>
<hr />
<af-table [columns]="$ctrl.columns" [data]="$ctrl.data"></af-table>
<h3>grid <small>AngularJS</small></h3>
<p>This is an AngularJS component.</p>
<hr />
<grid
	columns="{ firstName: 'First Name', lastName: 'Last Name', email: 'Email', dateCreated: 'Created' }"
	data="$ctrl.data"
></grid>
