.menu-bar {
	margin: 0 auto rem-calc(20);
	background-color: map-get($foundation-palette, primary);

	.menu {
		.is-active {
			> a {
				background-color: smart-scale(map-get($foundation-palette, primary), 5%);
			}
		}
	}

	a {
		color: color-pick-contrast(map-get($foundation-palette, primary), ($white, $black), 100);

		&:hover {
			background-color: smart-scale(map-get($foundation-palette, primary), 10%);
		}
	}
}
